/* Cabecalho */
#cabecalho{
    padding-top: 1rem;
    padding-bottom: 1rem;

    #titulo-aplicacao{
        font-size: 30px;
    }

    #data-coleta{
        font-size: 16px;
    }
}

#meu-toggle-navbar{
    position: absolute;
    z-index: 1001;
    color: #158cba;
    font-size: 24px;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: auto;
    height: auto;
    visibility: visible;
}


/* Sidebar */
.minha-sidebar{
    top: 0px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    width: auto;
    min-height: 100vh;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f8f9fa;
    box-shadow: 3px 3px 3px 3px lightgrey;

    H1{
        font-size: 22px;
        margin-top: 50px;
    }

    label{
        padding-left: 5px;
    }

    .label-documentacao{
        padding-left: 11px;
    }

    .meu-icone{
        width: 14px;
        height: 14px;
    }
}

.minha-sidebar-escondida{
    top: 0px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    width: 1px;
    max-width: 1px;
    min-height: 100vh;
    height: 100%;

    padding: 0px;
    font-size: 0px;
    overflow: hidden;
    visibility: hidden;

    H1{
        font-size: 0px;
        margin-top: 0px;
    }

    label{
        padding-left: 0px;
    }

    .meu-icone{
        width: 0px;
        height: 0px;
    }
}



/* Conteiner */
.conteiner-pagina {
    display: flex;
    flex-wrap: nowrap; /* Impede quebra de linha, força o uso de rolagem horizontal */
    overflow-x: auto; /* Permite rolagem horizontal */
}

.conteiner-pagina > * {
    flex: 1 0 auto; /* Permite expansão mas impede quebra de linha */
    min-width: 100%; /* Define uma largura mínima para cada item (ajuste conforme necessário) */
}

/* Conteudo Pagina */
.pagina{
    padding-bottom: 1rem;
}

#pagina_1{
    .titulo-pagina{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    .div_seletor_datas_e_botao{
        text-align: center;
        align-items: center;

        br{
            display: inline;
        }

        .botao{
            margin-top: 1rem;
        }
    }

    .linha_colunas_kpis{
        text-align: center;
        margin-top: 2rem;
    }

    br{
        display: none;
    }

    .titulo_coluna{
        font-size: 22px;
        font-weight: bold;
    }

    .periodo_coluna{
        font-size: 16px;
        color:#158cba;
    }

    .informacoes_coluna{
        margin-top: 2rem;

        br{
            display: inline;
            line-height: 10px;
        }
    }

    .div_card{
        display: flex;
        justify-content: center;

        .card{
            display: flex;
            text-wrap: nowrap;
            min-width: fit-content;
            width: 60%;
            max-width: 60%;
            border: #5BBFD8 solid 2px;

            .card-body{
                padding: 5px;
            }

            .titulo_cartao{
                color: #333333;
                font-size: 14px;
                font-weight: 600;
            }

            .valor_cartao{
                color: #2ecc71;
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 15px;
                margin-top: 15px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            i{
                font-size: 20px;
            }

            .ranking_top_1{
                color: #FFD700;
            }

            .ranking_top_2{
                color: #C0C0C0;
            }

            .ranking_top_3{
                color: #CD7F32;
            }
        }
    }

    .coluna_escolhido{
        border-left: #158cba solid 2px;
        border-right: #158cba solid 2px;
    }
}

#pagina_2{
    .div_seletor_datas_e_botao{
        text-align: center;
        align-items: center;

        br{
            display: inline;
        }

        .botao{
            margin-top: 1rem;
        }
    }

    .linha_colunas_periodos{
        text-align: center;
        margin-top: 2rem;

        .titulo_coluna{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .periodo_coluna{
            font-size: 16px;
            color:#158cba;
        }

        .coluna_escolhido{
            border-left: #158cba solid 2px;
            border-right: #158cba solid 2px;
        }


        I{
            margin-top: 10px;
            font-size: 20px;
        }

        .legenda_hoje{
            color: #6495ED;
        }

        .legenda_escolhido{
            color: #FFA07A;
        }

        .legenda_historico{
            color: #5CB85C;
        }
    }

    br{
        display: none;
    }
}

#pagina_3{
    .div_seletor_datas_e_botao{
        text-align: center;
        align-items: center;

        br{
            display: inline;
        }

        .botao{
            margin-top: 1rem;
        }
    }

    .linha_colunas_periodos{
        text-align: center;
        margin-top: 2rem;

        .titulo_coluna{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .periodo_coluna{
            font-size: 16px;
            color:#158cba;
        }

        .coluna_escolhido{
            border-left: #158cba solid 2px;
            border-right: #158cba solid 2px;
        }
    }

    br{
        display: none;
    }
}

#pagina_6{
    /* Centralizar colunas e valores de dags */
    .center-aligned-header .ag-header-cell-label {
        justify-content: center;
    }

    .center-aligned-cell {
        text-align: center;
    }

    .meu-dag{
        max-width: 100%;
        width: auto;
    }
}
