/* Cabecalho */
#cabecalho{
    padding-top: 1rem;

    #titulo-aplicacao{
        font-size: 30px;
    }

    #data-coleta{
        font-size: 16px;
    }
}

/* Sidebar */
#meu-toggle-navbar{
    position: absolute;
    z-index: 1001;
    color: #158cba;
    font-size: 24px;
    top: 0;
    margin-top: 0;
    left: 0;
    margin-left: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    width: auto;
    height: auto;
    visibility: visible;
}

.minha-sidebar{
    top: 0px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    width: auto;
    min-height: 100vh;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #f8f9fa;
    box-shadow: 3px 3px 3px 3px lightgrey;

    H1{
        font-size: 22px;
        margin-top: 50px;
    }

    label{
        padding-left: 5px;
    }

    .label-documentacao{
        padding-left: 11px;
    }

    .meu-icone{
        width: 14px;
        height: 14px;
    }
}

.minha-sidebar-escondida{
    top: 0px;
    margin-top: 0px;
    left: 0px;
    margin-left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    width: 1px;
    max-width: 1px;
    min-height: 100vh;
    height: 100%;

    padding: 0px;
    font-size: 0px;
    overflow: hidden;
    visibility: hidden;

    H1{
        font-size: 0px;
        margin-top: 0px;
    }

    label{
        padding-left: 0px;
    }

    .meu-icone{
        width: 0px;
        height: 0px;
    }
}


/* Conteudo Pagina */
.pagina{
    padding-bottom: 1rem;

    br{
        display: none;
    }

    .titulo-pagina{
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 2rem;
    }

    .seletor_datas_e_botao{
        text-align: center;
        align-items: center;

        br{
            display: inline;
        }

        .botao{
            margin-top: 1rem;
        }
    }

    .linha_colunas{
        text-align: center;
        margin-top: 2rem;

        .coluna_escolhido{
            border-left: #158cba solid 2px;
            border-right: #158cba solid 2px;
        }

        .cabecalho_coluna{
            .titulo_coluna{
                font-size: 22px;
                font-weight: bold;
            }

            .periodo_coluna{
                font-size: 16px;
                color:#158cba;
            }
        }

        .conteiner_informacao{
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 3rem;
            border: #5BBFD8 solid 2px;

            text-wrap: nowrap;
            min-width: fit-content;
            max-width: 60%;

            .titulo_informacao{
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                margin-top: 1.5rem;
            }
        }
    }
}

/* Pagina KPIs */
#kpis{
    .conteiner_informacao{
        display: flex;
        flex-direction: column;
        align-items: center;

        .titulo_informacao{
            margin-top: 10px;
        }

        .valor_cartao{
            color: #2ecc71;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 15px;
            margin-top: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        i{
            font-size: 20px;
            margin-bottom: 10px;
        }

        .ranking_top_1{
            color: #FFD700;
        }

        .ranking_top_2{
            color: #C0C0C0;
        }

        .ranking_top_3{
            color: #CD7F32;
        }
    }
}

#top_10_marcas_atuais{
    I{
        margin-top: 10px;
        font-size: 20px;
    }

    .grafico{
        min-height: 450px;
    }

    .legenda_hoje{
        color: #6495ED;
    }

    .legenda_escolhido{
        color: #FFA07A;
    }

    .legenda_historico{
        color: #5CB85C;
    }
}

#top_10_marcas_periodo{
    .conteiner_informacao{
        max-width: 95%;
    }

    .informacao{
        min-height: 450px;
    }
}

#preco_medio, #faixa_preco, #satisfacao, #promocoes{
    .conteiner_informacao{
        max-width: 95%;

        .titulo_informacao{
            margin-bottom: 2rem;
        }
    }

    .tabela{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        .tabela-ag-grid{
            width: auto;
            max-width: 90%;
        }

        /* Centralizar colunas e valores de tabelas dags */
        .center-aligned-header .ag-header-cell-label {
            justify-content: center;
       }

       .center-aligned-cell {
           text-align: center;
       }
    }
}
