body {
    background-color: #95c2de;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mensagem {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.6em;
    font-family: 'Nunito Sans', sans-serif;
}

.erro {
    color: #ffffff;
    font-size: 6em;
    margin-bottom: 20px;
}

.texto-mensagem {
    margin-bottom: 15px;
}

.texto-mensagem-final{
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}
