.pagina{
    padding-bottom: 1rem;
}

/* Centralizar colunas e valores de dags*/
.center-aligned-header .ag-header-cell-label {
    justify-content: center;
}

.center-aligned-cell {
    text-align: center;
}

.meu-dag{
    max-width: 60%;
    width: auto;
}
